/* ==========================================================================
   Layout
   ========================================================================== */

   /* Geral
      ========================================================================== */
      body {
         background-size: 40px 40px;
         background-color: #004059;
         background-image:
            -webkit-linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
            transparent 75%, transparent);
         background-image:
            -moz-linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
            transparent 75%, transparent);
         background-image: 
            linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
            transparent 75%, transparent);
      }

      .container {
         width: 90%;
         margin: 160px auto 0;
         padding: 10px 2%;
         background-color: #fff;
         @include border-radius(10px 10px 0 0);
      }

      h2 + p { margin-bottom: 5px; }

   /* Header
      ========================================================================== */
      .header { 
         height: 150px;
         position: fixed;
         left: 0;
         top: 0;
         width: 100%;
         padding-left: 7%;
         padding-right: 7%;
      }

      .header { @include transition(background-color 0.75s ease); }
      .header h1 { @include transition(all 0.55s ease-out); }
      .header input { @include transition(all 0.45s ease); }
      .header .box-social { @include transition(all 0.75s ease-out); }

      .box-social {
         margin: 0 auto;
         width: 290px;
         height: 30px;
      }

      .box-social > * { float: left; }
      .box-social iframe { margin-top: 1px; }
      .box-social .btn { margin: 0 5px; }
      .box-social .btn-facebook { margin-right: 0; }

      .label-github img { z-index: 1000; }

      /* Header fixo
         ========================================================================== */
         .header.fixed {         
            background-color: #012533;
            height: 60px;
         }

         .header.fixed h1 {
            float: left;
            font-size: 32px;
            margin: 0;
         }

         .header.fixed h1 span { font-size: 44px; }

         .header.fixed input {            
            top: 10px;
            right: 6%;
            margin: 0;
         }

         .header.fixed .box-social { padding-top: 20px; }

   /* Busca
      ========================================================================== */
      .input-search {
         position: absolute;
         top: 115px;
         right: 50%;
         margin: 0 -110px 0 auto;
         width: 220px;
         display: block;
         padding: 5px 8px;
         font-size: 12px;
         color: #666;
         border: solid 4px #004059;
         @include transition(all .25s ease);
      }

      .input-search:focus {
         border: solid 3px #01f0ff;
         outline: none;
      }
      /*
       * Placeholder (com prefixos)
       */
      input::-webkit-input-placeholder {
         font-style: italic;
         font-size: 12px;
         color: #aaa;
      }
      
      input:-moz-placeholder {
         font-style: italic;
         font-size: 12px;
         color: #666;
      }

      input::-moz-placeholder {
         font-style: italic;
         font-size: 12px;
         color: #666;
      }

      input:-ms-input-placeholder {
         font-style: italic;
         font-size: 12px;
         color: #aaa;
      }

      input:-moz-placeholder {
         font-style: italic;
         font-size: 12px;
         color: #aaa;
      }

      .autocomplete-suggestion {
         background-color: #eee;
         color: #666;
         padding: 5px 10px;
         width: 101%;
         @include transition(all .25s ease);
         cursor: pointer;
         font-size: 14px;
      }

      .autocomplete-suggestion:hover,
      .autocomplete-suggestion.autocomplete-selected {
         color: #fff;
         background-color: #1a536a;
      }

   /* Footer
      ========================================================================== */
      .footer {
         display: block;
         padding: 15px 0;
         width: 100%;
         background-color: #012533;
      }

      .author {
         display: inline-block;
         margin: 0 10px;
         text-align: center;
      }

      .author > a { font-size: 14px; }

      .author iframe {
         margin-top: 10px;
      }

   /* Botões
      ========================================================================== */
      .btn {
         position: relative;
         display: inline-block;
         overflow: visible;
         padding: 4px 8px;
         font-size: 11px;
         line-height: 11px;
         font-weight: bold;
         color: #333;
         text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
         background-color: #CCC;
         border: 1px solid #CCC;
         cursor: pointer;
         @include border-radius(4px);
         @include box-shadow(0 1px 0 rgba(255, 255, 255, .5));
      }

      .btn:hover { text-decoration: none; }
 
      .btn-twitter {
         color: white;
         text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
         background-color: #019AD2;
         background-repeat: repeat-x;
         background-image: -khtml-gradient(linear,left top,left bottom,from(#33BCEF),to(#019AD2));
         background-image: -moz-linear-gradient(#33BCEF,#019AD2);
         background-image: -ms-linear-gradient(#33BCEF,#019AD2);
         background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33BCEF),color-stop(100%,#019AD2));
         background-image: -webkit-linear-gradient(#33BCEF,#019AD2);
         background-image: -o-linear-gradient(#33BCEF,#019AD2);
         background-image: linear-gradient(#33BCEF,#019AD2);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
         border-color: #057ED0;
         @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .1));
      }
 
      .btn-twitter:hover {
         background-color: #0271BF;
         background-repeat: repeat-x;
         background-image: -khtml-gradient(linear,left top,left bottom,from(#2DADDC),to(#0271BF));
         background-image: -moz-linear-gradient(#2DADDC,#0271BF);
         background-image: -ms-linear-gradient(#2DADDC,#0271BF);
         background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2DADDC),color-stop(100%,#0271BF));
         background-image: -webkit-linear-gradient(#2DADDC,#0271BF);
         background-image: -o-linear-gradient(#2DADDC,#0271BF);
         background-image: linear-gradient(#2DADDC,#0271BF);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
         border-color: #096EB3;
      }

   .btn-facebook {
      border-color: #29447e #29447e #1a356e;
      color: #fff;
      text-shadow: none;
      background-color: #5B74A8;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
      background-image: -moz-linear-gradient(#637bad, #5872a7);
      background-image: -o-linear-gradient(#637bad, #5872a7);
      background-image: linear-gradient(#637bad, #5872a7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7');
      @include multiple-box-shadow(0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2);
   }

   .btn-facebook:hover { border-color: #4864a0; }

   .btn-facebook:active {
      border-color: #29447E;
      background: #4F6AA3;
      filter: none;
      @include box-shadow(none);
   }

