/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $breakpoint     : 768px;

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $dark-blue: #004059;
        $light-blue: #01F0FF;

        $default-color: #666;
        $primary-color: $dark-blue;
        $secondary-color: $light-blue;
        $terciary-color: #D9534F;