<a href="#conteudo" class="sr-only go-content" tabindex="1" accesskey="1">Ir para conteúdo</a>
<header class="header container" role="banner">
	<h1 class="logo">
		<a href="{{ site.baseurl }}/">
			<span class="logo-snippets">Snippets</span> <span class="logo-wp">WP</span>
		</a>
	</h1>
	<div class="social">
		<!-- Github button -->
		<a class="btn btn-github" href="https://github.com/raphaelfabeni/snippets-wp/" target="_blank">Repository</a>

		<!-- Twitter button -->
		<a class="btn btn-twitter" href="http://twitter.com/share?url=http://raphaelfabeni.github.io/snippets-wp&amp;text=Snippets WP - A simple collection of wordpress snippets for your project." target="_blank">Tweet</a>

		<!-- Facebook button -->
		<a class="btn btn-facebook" href="https://www.facebook.com/sharer.php?s=100&p%5Burl%5D=http%3A%2F%2Fraphaelfabeni.github.io%2Fsnippets-wp&p%5Bimages%5D%5B0%5D=http%3A%2F%2Fraphaelfabeni.github.io%2Fsnippets-wp%2Fbuild%2Fimg%2Ffb-share.png&p%5Btitle%5D=Snippets%20WP&p%5Bsummary%5D=A%20simple%20collection%20of%20wordpress%20snippets%20for%20your%20project." target="_blank">Share</a>
	</div>
</header>
