<a href="#conteudo" class="sr-only go-content" tabindex="1" accesskey="1">Ir para conteúdo</a>
<header class="header container" role="banner">
	<h1 class="logo">
		<a href="{{ site.baseurl }}/">
			<span class="logo-snippets">Snippets</span> <span class="logo-wp">WP</span>
		</a>
	</h1>
	<h2 class="subtitle">Uma coletânea de snippets para sites em WordPress para você utilizar no seu projeto!</h2>
	<div class="social">
		<!-- Github button -->
		<a class="btn btn-github" href="https://github.com/raphaelfabeni/snippets-wp/" target="_blank">Repositório</a>

		<!-- Twitter button -->
		<a class="btn btn-twitter" href="http://twitter.com/share?url=http://raphaelfabeni.github.io/snippets-wp&amp;text=Snippets WP - Uma coletânea de snippets para sites em WordPress!" target="_blank">Tweetar</a>

		<!-- Facebook button -->
		<a class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://raphaelfabeni.github.io/snippets-wp/" target="_blank">Compartilhar</a>
	</div>
</header>
