<meta name="keywords" content="wp, wordpress, shortcode, snippets, code, web, example" >
<meta name="author" content="Raphael Fabeni">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A simple collection of wordpress snippets for your project.">
<meta property="fb:app_id" content="1388457164716518">
<meta property="fb:admins" content="100000808831074">
<meta property="og:type" content="article">
<meta property="og:title" content="Snippets WP">
<meta property="og:site_name" content="Snippets WP">
<meta property="og:url" content="http://raphaelfabeni.github.io/snippets-wp/">
<meta property="og:image" content="http://raphaelfabeni.github.io/snippets-wp/build/img/fb-share.png">
<meta property="og:description" content="A simple collection of wordpress snippets for your project.">

<link rel="icon" href="http://www.raphaelfabeni.com.br/favicon.ico">
