<link rel="icon" href="favicon.ico">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<meta name="keywords" content="wp, wordpress, shortcode, snippets, code, web, example" >
<meta name="author" content="Raphael Fabeni">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Snippets de código para WordPress.">
<meta property="fb:app_id" content="1388457164716518">
<meta property="fb:admins" content="100000808831074">
<meta property="og:type" content="article">
<meta property="og:title" content="WP samples">
<meta property="og:site_name" content="WP samples">
<meta property="og:url" content="http://raphaelfabeni.github.io/snippets-wp/">
<meta property="og:image" content="http://raphaelfabeni.github.io/snippets-wp/fb-share.png">
<meta property="og:description" content="Uma coletânea de snippets para projetos que utilizam WordPress.">

<link rel="icon" href="http://www.raphaelfabeni.com.br/favicon.ico">
