/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header {
                padding-top: 20px;
                margin-bottom: 20px;
            }

            .social {
                margin: 15px auto 0;
                padding: 10px 0;
                text-align: center;
                background-color: #fff;
                width: 100%;
            }

            .social .btn {
                margin: 0 5px;
                font-weight: bold;
            }

        /*  Footer
            ========================================================================== */
            .footer {
                border-top: solid 3px #fff;
                margin-top: 40px;
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: darken($primary-color, 10%);
            }

            .footer {
                text-align: center;
                color: #fff;
            }

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */
            .social {
                max-width: 290px;
            }

        /*  Footer
            ========================================================================== */

   }
