/*  ==========================================================================
    Buttons
    ========================================================================== */

    /*  Default
        ========================================================================== */
	    .btn {
	        position: relative;
	        display: inline-block;
	        margin: 0;
	        text-align: center;
	        text-transform: uppercase;
	        vertical-align: middle;
	        cursor: pointer;
	        border: 1px solid transparent;
	        white-space: nowrap;
	        padding: 5px 15px;
	        font-size: 11px;
	        @include transition( background .25s ease );
	        text-shadow: 0 1px white;
	    }

	    .btn:hover,
	    .btn:focus { text-decoration: none; }

	    .btn:after,
	    .btn:before {
	        position: absolute;
	        content: '';
	        z-index: 1;
	    }

	    .btn:after {
	        top: -3px;
	        right: -3px;
	        border-top: solid 2px transparent;
	        border-right: solid 2px transparent;
	        border-bottom: solid 2px #aaa;
	    }

	    .btn:before {
	        bottom: -5px;
	        left: -1px;
	        border-bottom: solid 2px transparent;
	        border-left: solid 2px transparent;
	        border-top: solid 2px #aaa;
	    }

    	.btn:active {
            @include transform(translate(2px, 2px));
            @include box-shadow(none);
        }

        .btn:active:after,
        .btn:active:before { display: none; }

    /*  Colors
        ========================================================================== */

        /*  Default
            ========================================================================== */
            .btn {
                background-color: #fff;
                color: #555;
                border-color: #aaa;
                @include box-shadow(2px 2px 0 0 #aaa);
            }

            .btn:after { border-bottom-color: #ccc; }
            .btn:before { border-top-color: #ccc; }

            .btn:hover,
            .btn:focus { background-color: #f5f5f5; }

        /*  Twitter
            ========================================================================== */
            $twitter_color: #2CA9E1;
            $twitter_shadow: darken($twitter_color, 15%);
            .btn-twitter {
                background-color: $twitter_color;
                text-shadow: 0px 1px $twitter_shadow;
                color: #fff;
                border-color: $twitter_shadow;
                @include box-shadow(2px 2px 0 0 $twitter_shadow);
            }

            .btn-twitter:after { border-bottom-color: $twitter_shadow; }
            .btn-twitter:before { border-top-color: $twitter_shadow; }

            .btn-twitter:hover,
            .btn-twitter:focus { background-color: darken($twitter_color, 5%); }

        /*  Facebook
            ========================================================================== */
            $facebook_color: #3B5997;
            $facebook_shadow: darken($facebook_color, 15%);
            .btn-facebook {
                background-color: $facebook_color;
                text-shadow: 0px 1px $facebook_shadow;
                color: #fff;
                border-color: $facebook_shadow;
                @include box-shadow(2px 2px 0 0 $facebook_shadow);
            }

            .btn-facebook:after { border-bottom-color: $facebook_shadow; }
            .btn-facebook:before { border-top-color: $facebook_shadow; }

            .btn-facebook:hover,
            .btn-facebook:focus { background-color: darken($facebook_color, 5%); }

        /*  Github
            ========================================================================== */
            $github_color: #555;
            $github_shadow: darken($github_color, 15%);
            .btn-github {
                background-color: $github_color;
                text-shadow: 0px 1px $github_shadow;
                color: #fff;
                border-color: $github_shadow;
                @include box-shadow(2px 2px 0 0 $github_shadow);
            }

            .btn-github:after { border-bottom-color: $github_shadow; }
            .btn-github:before { border-top-color: $github_shadow; }

            .btn-github:hover,
            .btn-github:focus { background-color: darken($github_color, 5%); }